{% extends "base.html" %}
{% block meta %}
<meta name="author" content="{{ article.author.name }}" />
<meta name="description" content="{{ article.summary|striptags|escape }}" />
<meta name="keywords" content="{{ article.tags|join(', ')|escape|lower }}">
{% include "partial/og_article.html" %}
{% endblock %}
{% block title %} &ndash; {{ article.title|striptags|escape }}{% endblock %}
{% block content %}
<article class="single">
<header>
{% if not ARTICLE_HIDE_TRANSLATION %}
{% import 'partial/translations.html' as translations with context %}
{{ translations.translations_for(article) }}
{% endif %}
<h1 id="{{ article.slug }}">{{ article.title }}</h1>
</header>
{% if article.metadata['summary'] %}
<h3>{{ article.summary }}</h3>
{% endif %}
{% if article.featured_image %}
{% if article.featured_link %}<a href='{{article.featured_link}}'>{% endif %}
<img class="img-center" src="/{{ article.featured_image }}" {% if article.featured_alt %}alt="{{ article.featured_image }}"{% endif %}>
{% if article.featured_link %}</a>{% endif %}
{% endif %}
{% if article.featured_caption %}<p class='caption'>{{ article.featured_caption }}</p>{% endif %}
{% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.article_top %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle ads-responsive" data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}" data-ad-slot="{{ GOOGLE_ADSENSE.ads.article_top }}"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
{% endif %}
<div>
{{ article.content }}
</div>
{% if article.share_post and article.status != 'draft' %}
<ul class="social">
<li>
<a class="sc-twitter" href="{{article.share_post['twitter']}}" target="_blank" rel="noopener" title="Share on Twitter" aria-label="Twitter">
<i class="fab fa-twitter"></i>
</a>
</li>
<li>
<a class="sc-linkedin" href="{{article.share_post['linkedin']}}" target="_blank" rel="noopener" title="Share on Linkedin" aria-label="Linkedin">
<i class="fab fa-linkedin-in"></i>
</a>
</li>
<li>
<a class="sc-facebook" href="{{article.share_post['facebook']}}" target="_blank" rel="noopener" title="Share on Facebook" aria-label="Facebook">
<i class="fab fa-facebook-f"></i>
</a>
</li>
<li>
<a class="sc-hacker-news" href="{{article.share_post['hacker-news']}}" target="_blank" rel="noopener" title="Share on Hacker News" aria-label="Hacker News">
<i class="fab fa-hacker-news-square"></i>
</a>
</li>
</ul>
{% endif %}
{% include "partial/meta.html" %}
{% if ADD_THIS_ID %}
<div class="center social-share">
<p>{{ _('Like this article? Share it with your friends!') }}</p>
<div class="addthis_native_toolbox"></div>
<div class="addthis_sharing_toolbox"></div>
<div class="addthis_inline_share_toolbox"></div>
</div>
{% endif %}
{% include "partial/neighbors.html" %}
{% if article.related_posts %}
<div class="related-posts">
<h4>{{ _('You might enjoy') }}</h4>
<ul class="related-posts">
{% for related_post in article.related_posts %}
<li><a href="{{ SITEURL }}/{{ related_post.url }}{% if not DISABLE_URL_HASH %}#top{% endif %}">{{ related_post.title }}</a></li>
{% endfor %}
</ul>
</div>
{% elif ADD_THIS_ID %}
<div class="addthis_relatedposts_inline"></div>
{% endif %}
{% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.article_bottom %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle ads-responsive" data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}" data-ad-slot="{{ GOOGLE_ADSENSE.ads.article_bottom }}"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
{% endif %}
{% include "partial/disqus.html" %}
</article>
{% endblock %}
