{% extends "base.html" %}
{% block title %} &ndash; {{ period | reverse | join(' ') }}{% endblock %}
{% block content %}
<article class="single">
<header>
<h1 id="archives">{{ period | reverse | join(' ') }} 📅</h1>
</header>
<div>
<dl>
{% set previous_date = False %}
{% for article in dates %}
{% if article.locale_date != previous_date %}
{% set previous_date = article.locale_date %}
<dt><strong>{{ article.locale_date }}</strong></dt>
{% endif %}
<dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
{% endfor %}
</dl>
</div>
</article>
{% endblock %}
