<header>
<p>
{# <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>#}
<i class="fa fa-calendar-alt"></i>&nbsp;{{ article.locale_date }}&nbsp;&nbsp;{% if 'post_stats' in PLUGINS %}<i class="fa fa-clock"></i>&nbsp;{{ article.stats['read_mins'] }}&nbsp;min&nbsp;read{% endif %}&nbsp;&nbsp;{% set url_hash = '' if DISABLE_URL_HASH else '#top' %}<i class="fa fa-folder-open"></i>&nbsp;{{ '<a href="%s/%s%s">%s</a>'|format(SITEURL, article.category.url, url_hash, article.category)|safe }}&nbsp;&nbsp;{% if article.tags %}<i class="fa fa-tags"></i>&nbsp;{% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}{% if not DISABLE_URL_HASH %}#top{% endif %}">#{{ tag.name|escape }}</a>{% if not loop.last %} {% endif %}{% endfor %}{% endif %}
</p>
</header>
