{% if 'neighbors' in PLUGINS %}
<div class="neighbors">
{% if article.prev_article %}
<a class="btn float-left" href="{{ SITEURL }}/{{ article.prev_article.url }}{% if not DISABLE_URL_HASH %}#top{% endif %}" title="{{ article.prev_article.title|striptags }}">
<i class="fa fa-angle-double-left"></i>&nbsp;<span>{{ article.prev_article.title|striptags }}</span>
</a>
{% endif %}
{% if article.next_article %}
<a class="btn float-right" href="{{ SITEURL }}/{{ article.next_article.url }}{% if not DISABLE_URL_HASH %}#top{% endif %}" title="{{ article.next_article.title|striptags }}">
<span>{{ article.next_article.title|striptags }}</span>&nbsp;<i class="fa fa-angle-double-right"></i>
</a>
{% endif %}
</div>
{% endif %}
